server:
  port: 9097

spring:
  application:
    name: oauth-service

  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/authentication_db?useSSL=false&serverTimezone=UTC&characterEncoding=utf8&allowPublicKeyRetrieval=true}
    username: ${DB_USER:admin}
    password: ${DB_PASS:password}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        jdbc:
          time_zone: UTC
    show-sql: true

jwt:
  secret: ${JWT_SECRET:flpZVEZrUG1ORD01Y2MxInkyP2oiQFFqeTN0TXk4NTk=}
  expiration-time: 36000000
  refresh-expiration-time: 86400000

logging:
  level:
    root: info
    org.springframework.security: info
